<%= simple_form_for(@posts) do |f| %>
	<div class="panel panel-info">
		<div class="panel-heading">
			Post
		</div>
		<div class="panel-body">
			<%= f.error_notificiation %>
			<%= f.input :content, required: true, label:false, placeholder: "New Post Here...", input_html: {class: "form-control"} %>
		</div>
		<div class="panel-footer">
			<%= f.button :submit, class: "brn btn-primary btn-block" %>
		</div>
	</div>
<% end %>